<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta name="renderer" content="webkit">
	<block name="title">
		<title>{$meta_title}</title>
	</block>
	<meta name="keywords" content="{$meta_keywords}"/>
	<meta name="description" content="{$meta_description}"/>
	<link rel="stylesheet" href="__HTML_WEUI__/lib/weui.min.css"/>
	<link rel="stylesheet" href="__HTML_WEUI__/css/jquery-weui.min.css"/>
	<link rel="stylesheet" href="__HTML_CSS__/reset.css"/>
	<link rel="stylesheet" href="__HTML_CSS__/flex.css"/>
	<link rel="stylesheet" href="__HTML_CSS__/style.css"/>
	<script src="__HTML_WEUI__/lib/jquery-2.1.4.js"></script>
	<script src="__HTML_WEUI__/js/jquery-weui.min.js"></script>
	<script src="__HTML_JS__/functions.js"></script>
	<!-- <script src="__HTML_JS__/js.cookie.js"></script> -->
	<script src="__HTML_JS__/jweixin-1.0.0.js"></script>
	<!--[if lt IE 9 ]>
	<script src="__HTML_JS__/html5.js"></script>
	<![endif]-->
</head>
<body>
<section class="wrap">
	<block name="main"></block>
</section>
<script type="text/javascript">
</script>
<block name="script"></block>
</body>
</html>